body {
font-family: 'Arapey', serif;
}

h3, h4, h5 {
font-family: 'Patua One', cursive;
color: #7F1212;
}

body {
font-family: 'Arapey', serif;
}

h1, h2{
  color: #CC0C0A;
  font-family: 'Slackey', cursive;
}
.navbar-header {
  background-color: #FF8A89;
  border-color: #FF8A89;
}
.container-fluid {
  background-color: #FF8A89;
  border-color: #FF8A89;
}
marquee {
  font-family: 'Arapey', serif;
  font-size:24px;
  color:#CC0C0A;
}
.fa-gratipay {
  color:#FF8A89;
}

.navbar-inverse {
  background-color: #FF8A89;
  border-color: #FF8A89;
  font-family: 'Arapey', serif;
}

.panel-heading {
  background-color: #FF8A89;
}

.btn-primary {
  background-color: #FF8A89;
  border-color: #FF8A89;

}
.panel-primary {
    border-color: #FF8A89;
}

.panel-primary>.panel-heading {
    color: #CC0C0A;
    background-color:  #FF8A89;
    border-color:  #FF8A89;
}

.panel-primary .panel-title{
  color: #CC0C0A;
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

.jumbotron h4 {
  font-family: 'Patua One', cursive;
  color: #000;
}
.jumbotron {
  text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fff;

}

a {
    color: #CC0C0A;
    text-decoration: none;
}

h1.main-title {

  font-family: 'Slackey', cursive;
  color: #CC0C0A;
}

.btn-primary {
    color: #CC0C0A;
    background-color:  #FF8A89;
    border-color:  #FF8A89;
}

.navbar-inverse .navbar-nav>li>a {
    color: #CC0C0A;
}


.navbar-inverse .navbar-brand {
  color: #CC0C0A;
}

.jumbotron h3 {

  font-family: 'Patua One', cursive;
  background-color:#ececec;
}


.title-alldogs {
  color: #e22620;
  text-align: center;
}

a.navbar-brand {
  font-family: 'Slackey', cursive;
  color: #e22620;
  font-size: 22px;
}

 .navbar-brand {
   color: #e22620;
 }


#profile img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
          box-shadow: 1px 1px 1px 1px #777;
}

#owner img {
  border: 5px solid #fff;
  border-bottom: 22.5px solid #fff;
          box-shadow: 1px 1px 1px 1px #777;
}


#owner p{
  padding-right: 10px;
}

#home_btn{
 margin-top: 5%;
 margin-left: 25%;
}

.profile-btn {
  margin: 26px auto;

}

.well-profile {
  min-height: 600px;
}

.fa-heart {
  color: #7F1212;
}

.nav-image{
  float:left;
  margin-top: 11px;
  margin-right: 10px;}

.btn-danger {
  color: #fff;
  background-color: #CC0C0A;
  border-color: #CC0C0A;
}

.feature-img {
  margin-top: 28px;
}

.bottom-features {
 margin-bottom: 30px;
}

.carousel-caption{
  padding-top:0px;
  padding-left:0px;
  padding-left:0px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

p.details {
    height: 40px;
    overflow: hidden;
  }
