<!DOCTYPE html>
<html>
  <head>
    <title>Doggie Dating</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

   <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" rel="stylesheet" integrity="sha256-bPSyJP9+ovy9/YbIwvZyX6r2M4PkiF01vt0zuDLUEzs= sha512-F4ep7hh9V7i7UvRF56Vq8VgjFIFGRVaE2y5UZ2FtIcMWoLFiDxTmHgnDm1XDZGcc6Vtp+kwtL0Kd3VA8uBMK9g==" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Patua+One|Slackey|Arapey' rel='stylesheet' type='text/css'>
     <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/app.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/img/dog_logo_web.gif" alt="logo" class="nav-image" width="40" height="40">
      <a class="navbar-brand" href="/"> Doggie Dating</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/all-dogs">All Dog Profiles <span class="sr-only"></span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More Options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/new-account">New Account</a></li>
            <li><a href="/profile/$dogId">Profile</a></li>
            <li><a href="/update/$dogId">Edit</a></li>
            <li class="divider"></li>
            <li><a href="/featured">See Success Stories</a></li>

          </ul>
        </li>
      </ul>
      #if($dogId)
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">Log Out</a></li>
        </ul>
      #else
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Log In</a></li>
        </ul>
      #end
    </div>
  </div>
</nav>


    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
